.chat {
  background-color: rgb(206, 183, 183);
  flex: 0.65;
}
.chat__header {
  padding: 20px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}
