.sidebar {
  flex: 0.35;
  background-color: green;
}

.sidebar__header {
  background-color: red;
  padding: 20px;
  border-right: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.sidebar__headerRight {
  display: flex;
  align-items: center;
  background-color: blue;
  justify-content: space-between;
  min-width: 10vw;
}
.sidebar__search {
  background-color: greenyellow;
}
.sidebar__chats {
  background-color: rgb(231, 206, 219);
}
